{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      {% for error in errors %}
        <div class="error alert-danger">
          {{ error.message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}

{%- block integer_widget -%}
  {%- set type = type|default('text') -%}
  {{ block('form_widget_simple') }}
{%- endblock integer_widget -%}

{%- block form_widget_simple -%}
  {%- set type = type|default('text') -%}
  <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control" />
{%- endblock form_widget_simple -%}