{% trans_default_domain 'tchat' %}

{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#form-message').keypress(function (e) {
        if (e.which == 13) {
          $('#form-submit').click();
          return false;    //<---- Add this line
        }
      });
    });

    var date = new Date();
    var heure =date.getHours();
    var minute=date.getMinutes();
    var seconde=date.getSeconds();
    var f = function() {
      if(seconde<59)
        seconde++;
      else
      {minute++;seconde=00;}
      if(minute>59)
      {heure++;minute=0;}
      if(seconde<10)
      document.getElementById("horloge").textContent=heure+":"+minute+":0"+seconde;
      else
      document.getElementById("horloge").textContent=heure+":"+minute+":"+seconde;

      setTimeout(f, 1000);
    };
    setTimeout(f, 1000);

  </script>

{% endblock %}

{% block content %}
  <section>
    <div class="section-inner custom-page-content">
      <div class="page-header color-1">
        <h2>{{ 'tchat'|trans }} - <span id="horloge"></span></h2>
      </div>
      <div class="page-content">
        <!-- tchat -->
        <div class="row">

         {# <div class="col-sm-4 col-md-2 col-md-offset-2">
            <div class="block-title">
              <h3>{{ 'on'|trans }} <span>{{ 'line'|trans }} </span></h3>
            </div>
          </div>#}

          <div class="col-sm-6 col-md-12">
            <div class="col-sm-6 col-md-10">
              <div class="form-group form-group-with-icon">
                <i class="fa fa-comment"></i>
                <label>{{ 'message'|trans }}</label>
                <input id="form-message" type="text" name="tchat" class="form-control" placeholder required="required" maxlength="250" />
                <div class="form-control-border"></div>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <input type="button" id="form-submit" value="{{ 'sendmsg'|trans }}"/>

            <div class="clearfix"></div>

            <div class="col-md-12">
              <div class="chatbox">
                <ul id="chat-list"></ul>
              </div>
            </div>

            <script>
              // This object will be sent everytime you submit a message in the sendMessage function.
              var clientInformation = {
                username: '{{ app.user.username }}'
                //a static object
              };
              // START SOCKET CONFIG
              var conn = new WebSocket('ws://127.0.0.1:8080');

              conn.onopen = function(e) {
                console.info("Connexion établie");
              };

              conn.onmessage = function(e) {
                var data = JSON.parse(e.data);
                Chat.appendMessage(data.username, data.message);

                console.log(data);
              };

              conn.onerror = function(e){
                alert("Sockets OFF");
                console.error(e);
              };
              // END SOCKET CONFIG

              /// Some code to add the messages to the list element and the message submit.
              document.getElementById("form-submit").addEventListener("click",function(){
                var msg = document.getElementById("form-message").value;

                Chat.sendMessage(msg);
                // Empty text area
                document.getElementById("form-message").value = "";
              }, false);

              var Chat = {
                appendMessage: function(username,message){
                  var from;
                  var now = new Date();
                  var h = now.getHours();
                  var m = now.getMinutes();

                  if(username === clientInformation.username){
                    from = "{{ 'me'|trans }}";
                  }else{
                    from = username;
                  }

                  // Append List Item
                  var ul = document.getElementById("chat-list");
                  var li = document.createElement("li");
                  if(message.length > 0)
                  {
                    li.appendChild(document.createTextNode(from + " (" + h + "h" + m + ")" + " : " + message));
                    ul.prepend(li);
                  }

                },
                sendMessage: function(text){
                  clientInformation.message = text;
                  // Send info as JSON
                  conn.send(JSON.stringify(clientInformation));
                  // Add my own message to the list
                  this.appendMessage('{{ app.user.username }}', clientInformation.message);
                }
              };
            </script>
          </div>
{#
          <div class="col-sm-3 col-md-2">
            <div class="service-block">
                {% for user in users %}
                  <h4><i class="fa fa-user-circle"></i> {{ user.username }} <i class="fa fa-circle" style="color: green"></i></h4>
                {% endfor %}
                {{ dump(users) }}
            </div>
          </div>
#}
        </div>
      </div>
    </div>
      <!-- End of tchat -->
  </section>
{% endblock %}

