{% trans_default_domain 'user' %}

{% extends 'base.html.twig' %}

{% block content %}
  <section>
    <div class="section-inner custom-page-content">
      <div class="page-header color-1">
        <h2>{{ 'authentification'|trans }}</h2>
      </div>
      <div class="page-content">

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="block-title">
              <h3>{{ 'to'|trans }} <span>{{ 'connect'|trans }}</span></h3>
            </div>
            {% if app.request.hasPreviousSession %}
              {% for type, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ type }}">
                  <ul>
                    {% for message in messages %}
                      <li>
                        {{ message }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            {% endif %}
            <div class="controls">

              {% block fos_user_content %}
              {% endblock fos_user_content %}

            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="block-title">
              <h3>{{ 's'|trans }}'<span>{{ 'sign'|trans }}</span></h3>
            </div>

            {% block fos_user_content_register %}
            {% endblock fos_user_content_register %}

          </div>
        </div>
      </div>
    </div>
  </section>





{% endblock %}
