{% trans_default_domain 'core' %}

{% extends 'base.html.twig' %}

{% block content %}
  <!-- Portfolio Subpage -->
  <section>
    <div class="section-inner custom-page-content">
      <div class="page-header color-1">
        <h2>{{ 'gallery'|trans }}</h2>
      </div>
      <div class="page-content">

        <!-- Portfolio Content -->
        <div class="portfolio-content">

          <!-- Portfolio filter -->
          <ul id="portfolio_filters" class="portfolio-filters">
            <li class="">
              <a class="filter btn btn-sm btn-link active" data-group="france">{{ 'france'|trans }}</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="italy">{{ 'italy'|trans }}</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="spain">{{ 'spain'|trans }}</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="tunis">{{ 'tunis'|trans }}</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="egypt">{{ 'egypt'|trans }}</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="domrep">{{ 'domrep'|trans }}</a>
            </li>
          </ul>
          <!-- End of Portfolio filter-->

          <!-- Portfolio Grid -->
          <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

            <!-- Portfolio Item 1 -->
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/6.jpg') }}" class="lightbox" title="Place Stanyslas">
                <img src="{{ asset('images/fra/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Nancy</h5>
                  <small>2014</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/5.jpg') }}" class="lightbox" title="Karting">
                <img src="{{ asset('images/fra/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Manosque</h5>
                  <small>2013</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/4.jpg') }}" class="lightbox" title="Paysage du lac">
                <img src="{{ asset('images/fra/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Lac Sainte Croix</h5>
                  <small>2013</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/3.jpg') }}" class="lightbox" title="Partie de beach ball">
                <img src="{{ asset('images/fra/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">St Raphaël</h5>
                  <small>2011</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/2.jpg') }}" class="lightbox" title="Plage de Porquerolles">
                <img src="{{ asset('images/fra/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Porquerolles</h5>
                  <small>2010</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/9.jpg') }}" class="lightbox" title="Partie de pétanque">
                <img src="{{ asset('images/fra/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Flayosc</h5>
                  <small>2012</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/8.jpg') }}" class="lightbox" title="Arc de triomphe">
                <img src="{{ asset('images/fra/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Metz</h5>
                  <small>2007</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/7.jpg') }}" class="lightbox" title="Visite de Metz en CE2">
                <img src="{{ asset('images/fra/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Metz</h5>
                  <small>2007</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["france"]'>
              <a href="{{ asset('images/fra/1.jpg') }}" class="lightbox" title="Port de Porquerolles">
                <img src="{{ asset('images/fra/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Porquerolles</h5>
                  <small>2010</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 1 -->

            <!-- Portfolio Item 2 -->
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/1.jpg') }}" class="lightbox" title="Couché de soleil">
                <img src="{{ asset('images/ita/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2011</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/8.jpg') }}" class="lightbox" title="Fiat 500 Sicilienne">
                <img src="{{ asset('images/ita/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2007</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/9.jpg') }}" class="lightbox" title="Charette Sicilienne">
                <img src="{{ asset('images/ita/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2007</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/2.jpg') }}" class="lightbox" title="Scale dei Turchi">
                <img src="{{ asset('images/ita/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/3.jpg') }}" class="lightbox" title="Direction la Sicile">
                <img src="{{ asset('images/ita/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">Port de Gênes</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/4.jpg') }}" class="lightbox" title="Direction port de Palerme">
                <img src="{{ asset('images/ita/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Bateau</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/5.jpg') }}" class="lightbox" title="Avec la cousine sur le bateau de son père">
                <img src="{{ asset('images/ita/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/6.jpg') }}" class="lightbox" title="Port de Realmonte">
                <img src="{{ asset('images/ita/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["italy"]'>
              <a href="{{ asset('images/ita/7.jpg') }}" class="lightbox" title="Plage de Realmonte">
                <img src="{{ asset('images/ita/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Sicile</h5>
                  <small>2003</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>

            <!-- /Portfolio Item 2 -->

            <!-- Portfolio Item 3 -->
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/7.jpg') }}" class="lightbox" title="Paysage">
                <img src="{{ asset('images/esp/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2016</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/8.jpg') }}" class="lightbox" title="Toboggans">
                <img src="{{ asset('images/esp/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2016</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/9.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/esp/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2016</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/4.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/esp/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Mallorca</h5>
                  <small>2014</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/5.jpg') }}" class="lightbox" title="Grottes">
                <img src="{{ asset('images/esp/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Mallorca</h5>
                  <small>2014</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/6.jpg') }}" class="lightbox" title="Montgolfière">
                <img src="{{ asset('images/esp/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Mallorca</h5>
                  <small>2014</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/1.jpg') }}" class="lightbox" title="Dunes de sable">
                <img src="{{ asset('images/esp/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2012</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/2.jpg') }}" class="lightbox" title="Plage de Mogan">
                <img src="{{ asset('images/esp/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2012</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["spain"]'>
              <a href="{{ asset('images/esp/3.jpg') }}" class="lightbox" title="Port de Mogan">
                <img src="{{ asset('images/esp/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">Grande Canarie</h5>
                  <small>2012</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 3 -->

            <!-- Portfolio Item 4 -->
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/1.jpg') }}" class="lightbox" title="Moyen de transport local">
                <img src="{{ asset('images/tun/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/2.jpg') }}" class="lightbox" title="Navire">
                <img src="{{ asset('images/tun/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/3.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/tun/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/4.jpg') }}" class="lightbox" title="Vue de l'horizon">
                <img src="{{ asset('images/tun/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/5.jpg') }}" class="lightbox" title="Port">
                <img src="{{ asset('images/tun/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/6.jpg') }}" class="lightbox" title="Port">
                <img src="{{ asset('images/tun/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/7.jpg') }}" class="lightbox" title="Hôtel">
                <img src="{{ asset('images/tun/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/8.jpg') }}" class="lightbox" title="Hôtel">
                <img src="{{ asset('images/tun/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["tunis"]'>
              <a href="{{ asset('images/tun/9.jpg') }}" class="lightbox" title="Waterpolo">
                <img src="{{ asset('images/tun/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Tunisie</h5>
                  <small>2005</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 4 -->

            <!-- Portfolio Item 5 -->
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/1.jpg') }}" class="lightbox" title="Avec mon grand-père">
                <img src="{{ asset('images/egy/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Départ</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/2.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/egy/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Plage</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/3.jpg') }}" class="lightbox" title="Hôtel">
                <img src="{{ asset('images/egy/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">Hôtel</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/4.jpg') }}" class="lightbox" title="Nature">
                <img src="{{ asset('images/egy/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Nature</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/5.jpg') }}" class="lightbox" title="Toboggans de l'hôtel">
                <img src="{{ asset('images/egy/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Toboggans</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/6.jpg') }}" class="lightbox" title="Vue depuis la chambre">
                <img src="{{ asset('images/egy/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Paysage</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/7.jpg') }}" class="lightbox" title="Vue de l'horizon">
                <img src="{{ asset('images/egy/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Paysage</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/8.jpg') }}" class="lightbox" title="Excursion">
                <img src="{{ asset('images/egy/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Excursion</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["egypt"]'>
              <a href="{{ asset('images/egy/9.jpg') }}" class="lightbox" title="Bar au milieu de la piscine">
                <img src="{{ asset('images/egy/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Bar</h5>
                  <small>2009</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 5 -->

            <!-- Portfolio Item 6 -->
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/1.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/domrep/1.jpg') }}" alt="">
                <div>
                  <h5 class="name">Plage</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/2.jpg') }}" class="lightbox" title="Piscine avec bar">
                <img src="{{ asset('images/domrep/2.jpg') }}" alt="">
                <div>
                  <h5 class="name">Piscine</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/3.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/domrep/3.jpg') }}" alt="">
                <div>
                  <h5 class="name">Plage</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/7.jpg') }}" class="lightbox" title="Canards">
                <img src="{{ asset('images/domrep/7.jpg') }}" alt="">
                <div>
                  <h5 class="name">Canards</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/5.jpg') }}" class="lightbox" title="Avion Condor">
                <img src="{{ asset('images/domrep/5.jpg') }}" alt="">
                <div>
                  <h5 class="name">Avion</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/6.jpg') }}" class="lightbox" title="Traversée de canards">
                <img src="{{ asset('images/domrep/6.jpg') }}" alt="">
                <div>
                  <h5 class="name">Canards</h5>
                  <small>2015</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/4.jpg') }}" class="lightbox" title="Plage">
                <img src="{{ asset('images/domrep/4.jpg') }}" alt="">
                <div>
                  <h5 class="name">Plage</h5>
                  <small>2008</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/8.jpg') }}" class="lightbox" title="Palmiers">
                <img src="{{ asset('images/domrep/8.jpg') }}" alt="">
                <div>
                  <h5 class="name">Palmiers</h5>
                  <small>2008</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <figure class="item" data-groups='["domrep"]'>
              <a href="{{ asset('images/domrep/9.jpg') }}" class="lightbox" title="Piscine">
                <img src="{{ asset('images/domrep/9.jpg') }}" alt="">
                <div>
                  <h5 class="name">Piscine</h5>
                  <small>2008</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 6 -->

            <!-- /Portfolio Item 12 -->
          </div>
          <!-- /Portfolio Grid -->

        </div>
        <!-- /Portfolio Content -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Subpage -->
{% endblock %}





