{% trans_default_domain 'core' %}

{% extends 'base.html.twig' %}

{% block content %}
  <!-- Main Content -->
        <!-- Home Subpage -->
        <section>
          <div class="section-inner start-page-content">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="photo">
                    <img src="{{ asset('images/hi.png') }}" alt="" />
                  </div>
                </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="title-block">
                    <h1>Yvan Terrana</h1>
                    <div class="owl-carousel text-rotation">
                      <div class="item">
                        <div class="sp-subtitle">{{ 'webmaster'|trans }}</div>
                      </div>
                      <div class="item">
                        <div class="sp-subtitle">{{ 'actuallystudent'|trans }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="social-links">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/yvan.terrana?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-content">
              <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="about-me">
                    <div class="block-title">
                      <h3>{{ 'about'|trans }} <span>{{ 'me'|trans }}</span></h3>
                    </div>
                    <p>{{ 'aboutme'|trans }}</p>
                  </div>
                  <div class="download-resume">
                    <a href="{{ asset('cv/cv.docx') }}" class="btn btn-secondary">{{ 'downloadresume'|trans }}</a>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                  <ul class="info-list">
                    <li><span class="title">{{ 'age'|trans }}</span><span class="value">19</span></li>
                    <li><span class="title">{{ 'country'|trans }}</span><span class="value">{{ 'france'|trans }}</span></li>
                    <li><span class="title">{{ 'address'|trans }}</span><span class="value">73 Rue Henri Kaufmann, 57600 FORBACH</span></li>
                    <li><span class="title">{{ 'email'|trans }}</span><span class="value"><a href="{{ path('contact') }}">yterrana@hotmail.fr</a></span></li>
                    <li><span class="title">{{ 'phone'|trans }}</span><span class="value">0695598659</span></li>
                    <li><span class="title">{{ 'activity'|trans }}</span><span class="value available">{{ 'student'|trans }}</span></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- End of Home Subpage -->

        <!-- Gallery Subpage -->
        {#<section>
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>{{ 'gallery'|trans }}</h2>
            </div>
            <div class="page-content">

              <!-- Portfolio Content -->
              <div class="portfolio-content">

                <!-- Portfolio filter -->
                <ul id="portfolio_filters" class="portfolio-filters">
                  <li class="active">
                    <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="media">Media</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="illustration">Illustration</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="video">Video</a>
                  </li>
                </ul>
                <!-- End of Portfolio filter -->

                <!-- Portfolio Grid -->
                <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                  <!-- Portfolio Item 1 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="#">
                      <img src="{{ asset('images/portfolio/1.jpg') }}" alt="" />
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Media</small>
                        <i class="fa fa-file-text-o"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 1 -->

                  <!-- Portfolio Item 2 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Praesent Dolor Ex" class="lightbox mfp-iframe">
                      <img src="{{ asset('images/portfolio/2.jpg') }}" alt="" />
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Video</small>
                        <i class="fa fa-video-camera"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 2 -->

                  <!-- Portfolio Item 3 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="{{ asset('images/portfolio/full/3.jpg') }}" class="lightbox" title="Duis Eu Eros Viverra">
                      <img src="{{ asset('images/portfolio/3.jpg') }}" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Illustration</small>
                        <i class="fa fa-image"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 3 -->

                  <!-- Portfolio Item 4 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="portfolio-2.html">
                      <img src="images/portfolio/4.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Media</small>
                        <i class="fa fa-file-text-o"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 4 -->

                  <!-- Portfolio Item 5 -->
                  <figure class="item" data-groups='["all", "illustration"]'>
                    <a href="images/portfolio/full/5.jpg" class="lightbox" title="Aliquam Condimentum Magna Rhoncus">
                      <img src="images/portfolio/5.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Illustration</small>
                        <i class="fa fa-image"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 5 -->

                  <!-- Portfolio Item 6 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="portfolio-3.html">
                      <img src="images/portfolio/6.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Media</small>
                        <i class="fa fa-file-text-o"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 6 -->

                  <!-- Portfolio Item 7 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Nulla Facilisi" class="lightbox mfp-iframe">
                      <img src="images/portfolio/7.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Video</small>
                        <i class="fa fa-video-camera"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 7 -->

                  <!-- Portfolio Item 8 -->
                  <figure class="item" data-groups='["all",  "media"]'>
                    <a class="ajax-page-load" href="portfolio-4.html">
                      <img src="images/portfolio/8.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Media</small>
                        <i class="fa fa-file-text-o"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 8 -->

                  <!-- Portfolio Item 9 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="images/portfolio/full/9.jpg" class="lightbox" title="Mauris Neque Dolor">
                      <img src="images/portfolio/9.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Illustration</small>
                        <i class="fa fa-image"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 9 -->

                  <!-- Portfolio Item 10 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Donec Lectus Arcu" class="lightbox mfp-iframe">
                      <img src="images/portfolio/10.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Video</small>
                        <i class="fa fa-video-camera"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 10 -->

                  <!-- Portfolio Item 11 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="images/portfolio/full/11.jpg" class="lightbox" title="Duis Eu Eros Viverra">
                      <img src="images/portfolio/11.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Illustration</small>
                        <i class="fa fa-image"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 11 -->

                  <!-- Portfolio Item 12 -->
                  <figure class="item" data-groups='["all","media"]'>
                    <a class="ajax-page-load" href="portfolio-5.html">
                      <img src="images/portfolio/12.jpg" alt="">
                      <div>
                        <h5 class="name">Project Name</h5>
                        <small>Media</small>
                        <i class="fa fa-file-text-o"></i>
                      </div>
                    </a>
                  </figure>
                  <!-- /Portfolio Item 12 -->
                </div>
                <!-- /Portfolio Grid -->

              </div>
              <!-- /Portfolio Content -->
            </div>
          </div>
        </section>
        <!-- /Portfolio Subpage -->

        <!-- Blog Subpage -->
        <section class="pt-page" data-id="tchat">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>{{ 'tchat'|trans }}</h2>
            </div>
            <div class="page-content">

              <!-- Blog Posts Grid -->
              <div class="blog-masonry two-columns">
                <!-- Blog Post 1 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_1.jpg" alt="blog-post-1" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">6</span><span class="month">Dec</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Travel</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Bootstrap is the Most Popular Framework</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 1 -->

                <!-- Blog Post 2 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_2.jpg" alt="blog-post-2" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">3</span><span class="month">Nov</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">jQuery</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">One Framework, Every Device</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 2 -->

                <!-- Blog Post 3 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_3.jpg" alt="blog-post-3" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">12</span><span class="month">Oct</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Sport</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Designed for Everyone, Everywhere</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 3 -->

                <!-- Blog Post 4 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_4.jpg" alt="blog-post-4" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">18</span><span class="month">Aug</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">An Introduction To PostCSS</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 4 -->

                <!-- Blog Post 5 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_5.jpg" alt="blog-post-5" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">2</span><span class="month">Jul</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS3</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Original and Innovative Web Layouts</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 5 -->

                <!-- Blog Post 6 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_6.jpg" alt="blog-post-6" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">8</span><span class="month">May</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">HTML5</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Creative and Innovative Navigation Designs</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 6 -->

                <!-- Blog Post 7 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_7.jpg" alt="blog-post-7" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">7</span><span class="month">Apr</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Design</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Navigation for Mega-Sites</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 7 -->

                <!-- Blog Post 8 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                        <img class="post-image img-responsive" src="images/blog/blog_post_8.jpg" alt="blog-post-8" />
                        <div class="mask"></div>
                        <div class="post-date"><span class="day">21</span><span class="month">Mar</span><!--<span class="year">2016</span>--></div>
                      </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS3</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Front-End Challenge Accepted: CSS 3D Cube</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 8 -->
              </div>
              <!-- Blog Posts Grid -->
            </div>
          </div>
        </section>
        <!-- /Blog Subpage -->



        <!-- Connexion Subpage -->
        <section>
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>{{ 'authentification'|trans }}</h2>
            </div>
            <div class="page-content">

              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="block-title">
                    <h3>{{ 'to'|trans }} <span>{{ 'connect'|trans }}</span></h3>
                  </div>
                  <form id="contact-form" method="post" action="contact_form/contact_form.php">

                    <div class="controls">
                      <div class="form-group form-group-with-icon">
                        <i class="fa fa-user"></i>
                        <label>Pseudo</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                        <div class="form-control-border"></div>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="form-group form-group-with-icon">
                        <i class="fa fa-lock"></i>
                        <label>Mot de passe</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                        <div class="form-control-border"></div>
                        <div class="help-block with-errors"></div>
                      </div>

                      <input type="submit" class="button btn-send" value="Connexion">
                    </div>
                  </form>
                </div>

                <div class="col-sm-6 col-md-6">
                  <div class="block-title">
                    <h3>{{ 's'|trans }}'<span>{{ 'sign'|trans }}</span></h3>
                  </div>
                  <div class="form-group form-group-with-icon">
                    <i class="fa fa-user"></i>
                    <label>Pseudo</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                    <div class="form-control-border"></div>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group form-group-with-icon">
                    <i class="fa fa-envelope"></i>
                    <label>Adresse e-mail</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                    <div class="form-control-border"></div>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group form-group-with-icon">
                    <i class="fa fa-lock"></i>
                    <label>Mot de passe</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                    <div class="form-control-border"></div>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group form-group-with-icon">
                    <i class="fa fa-lock"></i>
                    <label>Confirmation mot de passe</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                    <div class="form-control-border"></div>
                    <div class="help-block with-errors"></div>
                  </div>

                  <input type="submit" class="button btn-send" value="Inscription">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Connexion Subpage -->#}
{% endblock %}